{% extends 'base.html' %}
{% load static %}

{% block script-head %}

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

{% endblock %}

{% block body %}

    <section class="section page-title">
        <div class="container">
            <div class="col-sm-12 m-auto congrats">
                <div class="congrats_message">
                    <h2>Congratulations, {{ username }}!</h2>
                    <h2>You passed the test!</h2>
                </div>
                <div class="congrats_notice">
                    <p>Now you are officially loaded with cyber security knowledge!</p>
                    <p>Take a screenshot of this page and use it as a certificate!</p>
                    <p>(This page will not be saved.)</p>
                </div>
                <button><a href="{% url 'index' %}">Go Back Home</a></button>
            </div>
        </div>
    </section>

{% endblock %}

{% block script-foot %}
    <script src="{% static 'js/confetti.js' %}"></script>

    <script>
        startConfetti();
    </script>

{% endblock %}