{% extends 'base.html' %}
{% load static %}

{% block script-head %}

    <script src="{% static 'js/confetti.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- for EnterName logic -->
    <script>
        function getName() {
            const username = localStorage.getItem("savedUserName");
            if (localStorage.savedUserName) {
                document.getElementById("name-saved").innerHTML = username;
            } else {
                document.getElementById("name-saved").innerHTML = "No Name Saved";
            }
        }
    </script>
{% endblock %}

{% block body %}
    <body onload="getName()" class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
    <canvas id="my-canvas"></canvas>
    <section class="section page-title">
        <div class="container">
            <div class="col-sm-12 m-auto congrats">
                <div class="congrats_message">
                    <h2>Congratulations, <span id="name-saved"></span>!</h2>
                    <h2>You passed the test!</h2>
                </div>
                <div class="congrats_notice">
                    <p>Now you are officially loaded with cyber security knowledge!</p>
                    <p>Take a screenshot of this page and use it as a certificate!</p>
                    <p>(This page will not be saved.)</p>
                </div>
                <button><a href="index.html">Go Back Home</a></button>
            </div>
        </div>
    </section>

{% endblock %}

{% block script-foot %}
    <script>

        // start

        const start = () => {
            setTimeout(function () {
                confetti.start()
            }, 1000); // 1000 is time that after 1 second start the confetti (1000 = 1 sec)
        };

        //  Stop
        const stop = () => {
            setTimeout(function () {
                confetti.stop()
            }, 5000); // 5000 is time that after 5 second stop the confetti (5000 = 5 sec)
        };

        start();
    </script>
    </body>
{% endblock %}