{% extends 'base.html' %}

{% block body %}
    {% for post in post_list %}
        <section class="section page-title" style="padding: 50px 0;">
        <div class="container">
            <div class="col-sm-12 m-auto course-container">
                <h3 class="course_title"><a href="{% url 'course_app:course_posts' post.slug %}">{{ post.title }}</a>
                </h3>
                <div class="row date_category_container">
                    <p class="col-sm-2 course_date_category">{{ post.created_at }}</p>
                    <p class="col-sm course_date_category">{{ post.category }}</p>
                </div>
                <p>{{ post.content| slice:":400"| safe }}</p>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}