{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h2 style="text-align: center; padding-top: 50px;">Register</h2>
    <form method="POST" id="register_form">
        {% csrf_token %}

        {% for field in registration_form %}
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ field }}

                        {% if field.help_text %}
                            <small style="color:grey;">{{ field.help_text }}</small>
                        {% endif %}
                    </div>

                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <p>

            </p>
        {% endfor %}
        <div style="text-align: center">
            <button type="submit">Register!</button>
        </div>
    </form>
{% endblock %}